/* Example styling */
.container {
    max-width: 1300px;
  }
  
  input[type="text"] {
    margin-right: 10px;
  }
  
  .table {
    margin-top: 20px;
  }
  
  button {
    font-size: 14px;
    background-color: #3f8da9;
    border-color: #3f8da9;
  }
  
  .navbar {
    background-color: #3f8da9; /* Same as your form header */
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin-left: 1.5rem;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.2s ease-in-out;
  }
  
  .navbar-links a:hover {
    color: #cce7f0; /* Lighter shade for hover effect */
  }
  

  